<h1>Sign Up </h1>
<%= render 'layouts/errors', errors: @user.errors%>
<%= form_for @user do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username, placeholder: "Enter your username" %><br>

    <%= f.submit 'Sign Up' %>
<% end %>
<p>Already a user? <%= link_to "Login", login_path %></p>
