<h1>Sign Up </h1>
<%= render 'layouts/errors', errors: @user.errors%>
<%= form_for @user do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "Enter your name" %><br>

    <%= f.submit 'Sign Up' %>
<% end %>
<p>Already a user? <%= link_to "Login", login_path %></p>
